:root {
    --primery-text-color: #212121;
    --title-text-color: rgba(117, 117, 117, 1);
    --second-text-color: rgba(255, 255, 255, 0.6);
    --text-color-footer: #ffffff;
    --primery-fon-color: #ffffff;
    --title-fon-color: #2f303a;
    --accent-color: #2196f3;
    --fon-button-color: #f5f4fa;
    }
    body {
    background-color: var(--primery-fon-color);
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    }
    .header {
        position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px; 
    }
    .logo {
        font-family: Raleway, sans-serif;
        color: #2196F3;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        text-decoration: none;
        }
    .logo-studio {
        color: #000000;
    }
    .logo {
        margin-right: 93px;
        margin-left: 215px;
    }
    .contacts-list {
        display: flex;
        align-items: center;
    }
    .nav-list {
        display: flex;
    }
    .header-container {
        display: flex;
    }
    .navigation {
        display: flex;
        align-items: center;
    }
    .nav-item + .nav-item {
        margin-left: 50px;
    }
    .header-connect {
        margin-left: auto;
    }
    .contacts-list {
        margin-right: 215px;
    }
    .header-link-mail {
        margin-left: 50px;
    }
    .header-link-tel {
        margin-left: 50px;
    }
    .nav-link-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
    }
    .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    }
    .header-link-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
    }
    .header-link-tel {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
    }
    .style-logo {
    color: var(--accent-color);
    text-decoration: none;
    }
    .logo-footer {
    color: var(--text-color-footer);
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    }
    ul {
    list-style: none;
    }
    .site-nav .link {
    color: var(--primery-text-color);
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    }
    .site-nav .link:hover,
    .site-nav .link:focus {
    color: var(--accent-color);
    }
    .contacts-list .link {
    color: var(--title-text-color);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
    .contacts-list .link:focus,
    .contacts-list .link:hover {
    color: var(--accent-color);
    }
    .name {
    background-color: var(--title-fon-color);
    text-decoration: none;
    }
    .name-title {
    color: var(--text-color-footer);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }
    button {
    cursor: pointer;
    }
    .button {
    color: var(--text-color-footer);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    }
    .button:hover,
    .button:focus {
    color: var(--accent-color);
    background-color: var(--text-color-footer);
    }
    .button-name {
    color: var(--primery-text-color);
    background-color: var(--fon-button-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    }
    .button-name:focus,
    .button-name:hover {
    color: var(--fon-button-color);
    background-color: var(--accent-color);
    }
    .section-title {
        color: var(--primery-text-color);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .feature-list .list-title {
        color: var(--primery-text-color);
    }
    .list-title {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    .text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    
    .comands-list .title {
        color: var(--primery-text-color);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .comands-list {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .proect {
        text-decoration: none;
    }
    .proect-title {
        color: var(--title-text-color);
        text-decoration: none;
    }
    .title {
        color: var(--primery-text-color);
        /*text-decoration: none;
        font-style: normal;
        font-weight: 700;*/
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    .title-list {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
    }
    .order {
        background-color: var(--title-fon-color);
        text-decoration: none;
    }
    .order-title {
        color: var(--primery-fon-color);
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    .order-title-list {
        color: var(--second-text-color);
        text-decoration: none;
    }
    .adress-link{
        color: var(--text-color);
        background-color: var(--footer-background);
        font-style: normal;
        line-height: 1.71;
        text-decoration: none;
    }
    .adress-link:hover,
    .adress-link:focus {
        color: var(--accent-color);
    }